<template>
  <div class="container">
    <div class="grid">
      <article v-for="item in items" :key="item.id" class="column desktop-4 tablet-6 mobile-12 ">
        <a href="#" class="article-card-link">
          <h3 class="article-card-title">{{ item.title }}</h3>
        </a>
        <div class="article-card-content">
          <img v-bind:src="item.thumbnail.URL.replace('{size}', 'thumb')">
          <div class="article-card-bar">
            <small class="article-card-category">
              <a href="#">{{ item.folder.name }}</a>
            </small>
            <time class="article-card-time">
              {{item.date.published | moment}}
            </time>
          </div>
        </div>
        <p class="article-card-lead" v-if="item.kind === 'Article'">{{ item.lead }}</p>
        <div v-else class="quiz-card-button">
          <div class="quiz-card-button-content">
            participer
          </div>
        </div>
      </article>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'

moment.locale('fr')

export default {
  name: 'HelloWorld',
  data () {
    return {
      items: []
    }
  },
  filters: {
    moment: function (date) {
      return moment(date).fromNow()
    }
  },
  async mounted () {
    try {
      const {data: { feed_elements: {items} }} = await axios.get('https://api.melty.fr/v1/fr/feeds/2')
      console.log(items)
      this.items = items
    } catch (error) {
      console.log(error)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .grid>.column.mobile-12 {
      width: auto;
      grid-column: span 12;
  }

  @media screen and (min-width: 720px) {
    .container {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      margin: auto;
    }
    .grid>.column.tablet-6 {
        width: auto;
        grid-column: span 6;
    }
  }

  @media screen and (min-width: 1160px) {
    .container {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      margin: auto;
      margin-top: 10px;
      max-width: 1140px;
    }

    .grid>.column.desktop-4 {
        width: auto;
        grid-column: span 4;
    }
  }

  body {
    margin: 0
  }

  div {
    font-family: Quicksand,sans-serif;
  }

  .grid {
    display: grid;
    grid-gap: 30px;
    justify-items: stretch;
    width: 100%;
    grid-template: auto/repeat(12,1fr);
  }

  .grid > article {
    position: relative;
    z-index: 0;
    font-size: 22px;
    color: #323232;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    contain: content;
  }

  .article-card-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 34px;
    background: rgba(50,50,50,.7);
    backdrop-filter: blur(10px) saturate(300%);
    border-radius: 0 0 30px 0;
    overflow: hidden;
    padding: 0 25px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .article-card-title{
    font-size: 22px;
    line-height: 1.25;
    margin: 0;
    font-family: Source Sans Pro,sans-serif;
  }

  .article-card-content {
    position: relative;
    width: 100%;
    order: -1;
    z-index: 1;
    padding-top: 58%;
    background: #b9b9b9;
    pointer-events: none;
    overflow: hidden;
    border-radius: 30px 30px 30px 0;
  }

  .article-card-link{
    text-decoration: none;
    padding: 10px 15px;
    transition: color .25s;
    font-weight: 700;
    color: rgb(50, 50, 50)
  }

  .article-card-link:hover{
    color: #14f032;
  }

  .article-card-link:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
  }
  .article-card-category a {
    position: relative;
    padding: 0 15px;
    display: -webkit-box;
    overflow: hidden;
    color: white;
    text-decoration: none;
    pointer-events: all;
    transition: color .25s;
    line-height: 34px;
  }

  .article-card-category a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 30px;
    height: 1px;
    background: #14f032;
    transition: width .25s;
    pointer-events: none;
  }

  .article-card-category a:hover:after {
    width: calc(100% + 30px);
  }

  .article-card-category a:hover {
    color: #14f032;
  }

  .article-card-bar {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 34px;
    background: rgba(50,50,50,.7);
    backdrop-filter: blur(10px) saturate(300%);
    border-radius: 0 0 30px 0;
    overflow: hidden;
  }

  .article-card-lead {
    padding: 0 15px;
    font-size: 17px;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #323232;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
  }

  .quiz-card-button {
    text-align: center;
    margin-bottom: 15px;
  }
  .quiz-card-button-content {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    box-shadow: inset 0 -6px#14f032;
  }

  .article-card-link:hover+.article-card-content>img {
    -webkit-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
  }

  .article-card-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .2s,-webkit-transform .25s;
    transition: transform .25s,opacity .2s;
    transition: transform .25s,opacity .2s,-webkit-transform .25s;
  }

  .article-card-category, .article-card-time {
    font-size: 11px;
    color: #fff;
  }

</style>
